/* Remove Useless Top Bar */
.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
	display: none;
}

._1HZy7BvOZuPT8feUwadL4W {
    background: unset;
}
.LibriMVXcLl1HB60ZUp78 {
    background: unset;
}
.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C {
    border: unset;
    border-image: unset;
}
.UVeN0kaD3zv1feMj_mMw5 ._1WdC0YUP8FT0dYWZ-QIVZL {
    margin-left: unset;
}
._39Zk32AvV5cr6g-83IVRVS {
    border: unset;
    border-image: unset;
}