:root {
    --custom-accent: #1A9FFF;
	
	--main-background: #161D25;
	
	--offline-status: #898989;
	--online-status: #4CB4FF;
	--idle-status: #4C91AC;
	--ingame-status: #8CD61D;
	--ingameidle-status: #D6B01D;
}