/* CODE BY "SpaceTheme" */
	/* Base */
body.DesktopUI {
    background: unset !important;
}

body.DesktopUI .PP7LM0Ow1K5qkR8WElLpt {
    background: unset;
}

body.DesktopUI ._2EstNjFIIZm_WUSKm5Wt7n {
    padding: 6px !important;
    border: 2px solid #1b212aa6;
    border-radius: 5px;
    background-color: #272D37;
}


	/* Items */
body.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI {
    padding: 6px 12px;
    font-weight: 500;
    border-radius: 3px;
    color: #E0E1E6 !important;
}
body.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI:hover {
    color: #e8e9ed;
    background-color: #303741;
}
body.DesktopUI .WUOrULWKkGLl3ZUQdDXg8.WUOrULWKkGLl3ZUQdDXg8+._1n7Wloe5jZ6fSuvV18NNWI {
    border: none;
}


	/* Divider */
body.DesktopUI ._2jXHP0742MyApMUVUM8IFn._21GPYlKBCLsHQpTsHw_RL_,
body.DesktopUI .WUOrULWKkGLl3ZUQdDXg8 {
    width: auto;
    height: 2px;
    margin: 2px 9px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #181c228c !important;
}


/* Hide last Divider from tray menu */
body.DesktopUI .WUOrULWKkGLl3ZUQdDXg8:nth-last-child(1) {
    display: none;
}


/* New Badge */
body.DesktopUI ._3EvKu7VyTGMoDtbyugKQ5H {
    margin: 0 6px 0 0;
    padding: 0 6px;
    border-radius: 5px;
    background-color: #E0E1E6 !important;
}