/* Remove Replace Online Icon */
.nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.bottom,
.nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.right, 
._3xUpb5DWXPFNcHHIcv-9pe {
	visibility: show;
}

._3h-QRJGxnVOIExtHD1R0f2 {
	outline: unset;
}
/*offline*/ ._3h-QRJGxnVOIExtHD1R0f2 {
	outline-color: unset;
}
.online ._3h-QRJGxnVOIExtHD1R0f2 {
	outline-color: unset;
}
.awayOrSnooze ._3h-QRJGxnVOIExtHD1R0f2 {
	outline-color: unset;
}
.ingame ._3h-QRJGxnVOIExtHD1R0f2 {
	outline-color: unset;
}

/* Replace to Alt Online icon */
