
	/* Bottom Bar */
._3vCzSrrXZzZjVJFZNg9SGu {
    flex: 0 0 40px;
}
		
	/* Fancy Buttons */
._1TdaAqMFadi0UTqilrkelR,	
._2foCkpRXhqq0UGVE50BWqj {
	border-radius: 4px;
    background: rgba(103, 112, 123, .2);
    font-family: unset !important;
    padding: 7px 10px 7px 10px !important;
}
.ip-YZhijAMZcuRoXBGiye {
	border-radius: 4px;
    background: rgba(103, 112, 123, .2);
}
._1TdaAqMFadi0UTqilrkelR:hover,	
._2foCkpRXhqq0UGVE50BWqj:hover,
.ip-YZhijAMZcuRoXBGiye:hover {
	border-radius: 4px;
    background: #2C333D;
	transition: .2s linear;
}
._3vCzSrrXZzZjVJFZNg9SGu {
    padding: 0px 18px;
}
.ip-YZhijAMZcuRoXBGiye {
    padding: 8px 10px 7px 10px !important;
}
._2VtAqT03BpBsVdmxwptn9D {
	width: 35vw;
    height: 16px;
}

/* Remove Shadow */
._2VtAqT03BpBsVdmxwptn9D ._1KrJ3sFAqPBN9mfpaNTU5F {
    box-shadow: unset;
}
._2VtAqT03BpBsVdmxwptn9D ._21vPQjHoo0uwud5lfCD_x- {
    border-radius: 4px;
    width: 26px;
    height: 26px;
    top: -5px;
}
._1KrJ3sFAqPBN9mfpaNTU5F > ._1R9r2OBCxAmtuUVrgBEUBw._2E7G8grj_-tgxXbTXs1t2E  > ._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
	border-radius: 4px;
}

/* Change Text Style */
._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k, 
._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
    text-transform: math-auto;
    font-size: 12px !important;
	color: #81878F;
    font-weight: bold;
    font-family: unset !important;
}
._2_FomluqqgQ2Hx8ON3AVep ._1sCy-pm412Smb0wJx0W-4 {
    color: #81878F;
    font-weight: bold;
}
.ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y {
    color: #81878F;
    font-weight: bold;
}