
	/* Bottom Bar */
._3vCzSrrXZzZjVJFZNg9SGu {
    flex: 0 0 40px;
}
		
	/* Fancy Buttons */
._1TdaAqMFadi0UTqilrkelR,	
._2foCkpRXhqq0UGVE50BWqj {
	border-radius: 4px;
    background: rgba(103, 112, 123, .2);
    font-family: unset !important;
    padding: 7px 10px 7px 10px !important;
}
.ip-YZhijAMZcuRoXBGiye {
	border-radius: 4px;
    background: rgba(103, 112, 123, .2);
}
._1TdaAqMFadi0UTqilrkelR:hover,	
._2foCkpRXhqq0UGVE50BWqj:hover,
.ip-YZhijAMZcuRoXBGiye:hover {
	border-radius: 4px;
    background: #2C333D;
	transition: .2s linear;
}
._3vCzSrrXZzZjVJFZNg9SGu {
    padding: 0px 18px;
}
.ip-YZhijAMZcuRoXBGiye {
    padding: 8px 10px 7px 10px !important;
}
._2VtAqT03BpBsVdmxwptn9D {
	width: 35vw;
    height: 16px;
}

/* Change Text Style */
._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k, 
._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
    text-transform: math-auto;
    font-size: 12px !important;
	color: #81878F;
    font-weight: bold;
    font-family: unset !important;
}
._2_FomluqqgQ2Hx8ON3AVep ._1sCy-pm412Smb0wJx0W-4 {
    color: #81878F;
    font-weight: bold;
}
.ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y {
    color: #81878F;
    font-weight: bold;
}