/* Left Side Buttons */
/*Order Buttons*/
._7AlhCx3XGzBeIrQaCneUD:nth-of-type(1) {
	order: 2;
}
._7AlhCx3XGzBeIrQaCneUD:nth-of-type(2) {
	order: 1;
}
._7AlhCx3XGzBeIrQaCneUD:nth-of-type(3) {
	order: 3;
}
._7AlhCx3XGzBeIrQaCneUD:nth-of-type(4) {
	order: 4;
}
._7AlhCx3XGzBeIrQaCneUD:nth-of-type(5) {
	order: 5;
}
._7AlhCx3XGzBeIrQaCneUD:nth-of-type(6) {
	order: 6;
}