	/* Header */
/*Account Menu - Account Name & Balance*/
.HoGkIKTQnkTEFGjqO-GMl ._11phBiBefcVQdzrnrezkKa, .HoGkIKTQnkTEFGjqO-GMl ._2jphjrSifC6orDT4g_7Wd {
    color: var(--accent) !important;
}
/*Progress Download Bar*/
._3szjUMH5QeRwtXAsLRcWt9._3DjdoQj5NoknowwV5t5JPN::after {
    background-color: var(--accent) !important;
}
	/*Library*/
/*Left Game List*/
._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k {
    color: var(--accent-dark);
}
._2-O4ZG0KrnSrzISHBKctFQ._26PT_OTo7-JDunJWeZgjT8{
    color: var(--accent-dark);
}
._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 ._3uk3F1BmAJQR6rl1TPcaif {
    color: var(--accent-light);
}
._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._1LVQp3h_vGOZ8TuDUEge0k {
    color: var(--accent-light);
}
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ .cMb2tLY-QjdRohM5U6Btp {
    color: var(--accent-light);
}
/*Game Page*/
._2SAb6geDpe6toA1GaP0GjH ._2aeAnRfwltWfd9Hb9M_1uE .qX4kNo6O0M-mYntdErKSJ {
    color: var(--accent-light);
}
._35_OgqfHHZfSzTYfv367K6,
._1kCN0pAntrcGCSmcc-vYdk {
    color: var(--accent-light);
}
._2Jkk-4RGWzhce22lSnA9Em {
    fill: var(--accent-light);
}
._35_OgqfHHZfSzTYfv367K6,
._1kCN0pAntrcGCSmcc-vYdk {
	background: var(--accent-transparent);
}
._35_OgqfHHZfSzTYfv367K6:hover,
._1kCN0pAntrcGCSmcc-vYdk:not(.Z3L6KGVxi4ZjGUzbYUjBC):hover {
    background: var(--accent-transparent-alt);
}
._3qDWQGB0rtwM3qpXTb11Q-._21hXW2oDD7zvNsoOaW7Yob._2WaHZuAetbqENmqDthu3nl svg path {
    stroke: var(--accent);
    fill: var(--accent);
}

._1J21tLst5SEhBPkVRT53UV {
    color: var(--accent-light);
}
._1J21tLst5SEhBPkVRT53UV div {
    background: var(--accent-transparent-alt2);
}
._1J21tLst5SEhBPkVRT53UV:hover._28ZR8gHitOrJaSLxcIAl2p {
    filter: brightness(1.1);
}

._2AzIX5kl9k6JnxLfR5H4kX {
    background: var(--accent);
}
._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi {
    background: var(--accent);
}
:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._2AzIX5kl9k6JnxLfR5H4kX:hover {
    background: var(--accent-dark);
}

.UVeN0kaD3zv1feMj_mMw5 ._1WdC0YUP8FT0dYWZ-QIVZL {
    background: var(--accent);
}
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6C {
    background: var(--accent-transparent-alt);
}
.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C {
    background: var(--accent-transparent-alt2);
}
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6C {
    border: 1px var(--accent) solid;
}
.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C {
    border: 1px var(--accent) solid;
}
._29bW1yCn25VTm4bFameBaV {
    color: var(--accent);
}

._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6 {
    background-color: var(--accent);
}
._3ns9185LizH61StaAXuAp6 ._3Rm36_oeAhvIg6ZYP9l1Jj {
    background-color: var(--accent);
}

._2H1MiFt6wMYuJDB8kZElFs._2JMEE2dz_3JMJg5pNiinj5 {
    color: var(--accent-light);
}

._23HTprMKEMzlqooblsDngK.tLc3yNucBVuLCkXDIvOzj .IYDCY3MhJV7rB4ftg78kA, ._1d0ijEIDvERoDLj_8CO6pH.tLc3yNucBVuLCkXDIvOzj .IYDCY3MhJV7rB4ftg78kA {
    color: var(--accent-transparent);
}

._39nnaT_CLE0m_WXVIrAwaG ._515RL2DZmyqkYq3yOP_m7 ._1ltVepCIamdDGwNMNKy3eA ._2-3DHZvulLmjn0i6nmbGrZ ._2ftHa0u7C-t3VTf5-DR9cr ._1L2ebAbSkdFHZXadTWXA_6 ._1DwcIwxQ_JgjtF66k_Wfus._2gr2M1hKDYXcLNwR7k05oF {
    fill: var(--accent);
    stroke: var(--accent);
}

._1pdQdoLxwmuMZpXXNHI2Uo ._1tRKRV0z9mHiZb76QCyqGO ._1Lot-TP3cPLuTO6bGZm8up.n98drbUHUKTXfcwqFg2WB {
    border-color: var(--accent);
}

._3bWTO29arCCJ6PBGRZ7fRy ._2WwG2r8yZuu2EMJgFTQZp8 .Udzrpqr8534T5DvVZveNP {
    color: var(--accent);
}
.Sf3urgalDvD2sZqNjEV9i {
    fill: var(--accent);
}
.QQy4BCjcpjCfAvTKAqBq3>svg {
    fill: var(--accent);
}
._34YgMAbrVXVMMfXvsZAU9_ {
    fill: var(--accent-light);
}
._1PTQ2mq0eTaG8ifW8juu81 {
    fill: var(--accent-light);
}
._3csl-MPe-hKuT8hQpOqEG5, 
.QQy4BCjcpjCfAvTKAqBq3 {
    color: var(--accent);
}
.A_A2B6fTn_MPLlGCmsLtd a:not(.LinkButton) {
    color: var(--accent);
}
.A_A2B6fTn_MPLlGCmsLtd a:not(.LinkButton):hover {
    color: var(--accent-light);
}

._3oMUSjOFNB0E9LWcL2sE7 {
    background: linear-gradient(to right, #199fff00 0%, var(--accent-transparent-alt2) 18px, var(--accent) 18px, var(--accent) 22px);
}
._39Zk32AvV5cr6g-83IVRVS {
    background: var(--accent-transparent-alt2);
}