/* I hate this fucking code, needs to rewrite (later) */
/* If god exist, please, have mercy */

		/* Side Menu */
	/* Page */
/*Reverse Interface*/
._3xRRJfD2xy95i9NhJxLTp0 {
    flex-direction: row-reverse;
}				
	/*Fancy Library - Side Menu */
/*Silly Thing*/
._3x1HklzyDs4TEjACrRO2tB {
	flex-direction: column-reverse;
	margin-top: 18px !important;
	background-image: unset;
	height: 95% !important;
	border-radius: 4px;
}
._2TKEazUUS3TlniZfpc8OOe {
	padding: 8px 6px 2px 6px;
    background-color: #161D25;
    box-shadow: unset !important;
}
._1ZS_xta5HMXzR8JgxDH6n7 {
    padding: 8px 6px 8px;
	background: #161D25;
}
._20QAC4WMXm8qFE8waUT5oo {
    margin: 6px 6px 4px 6px;
}
/*Color Background*/
._9sPoVBFyE_vE87mnZJ5aB {
	background: #161D25;
}
._1rDh5rXSFZJOqCa4UpnI4z {
    background: #161D25;
}
/*Big Text in Library*/
._2-O4ZG0KrnSrzISHBKctFQ {
    font-size: 13px !important;
}
/*Bigger Slider*/
._276E6ijBpjMA2_iTxNhhjc {
	height: 95%;
    margin-top: 18px;
    margin-right: 8px;
	border-radius: 1.5px;
	background-color: #5d656f;
	width: 8px;
}
._276E6ijBpjMA2_iTxNhhjc._2g5K_hJWc7jVo81zuejhk2 {
    cursor: grabbing;
}

		/* Game Page */
	/* Fancy Library - Game Page */
/*Remove Background & Blur*/
._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa {
    backdrop-filter: unset;
    background: unset;
}
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
    background: unset;
}
._3fLo166MlaNqP8r8tTyRz {
    background: unset;
    transition: unset;
}
.HNbe3eZf6H7dtJ042x1vM {
    -webkit-mask-image: unset;
    mask-image: unset;
}
/* Game Card Page*/
._27RcNu8aXKBpYkHcNNrt-X .OhSdLYuggDtBcWjYP0j_9 {
    padding: 26px 10px 10px 10px;
}
._3-V8vjmrwuJM6Ws3tsjFJj {
	margin-left: auto;
    margin-right: auto;
    background-color: #262a2fe0;
	border-radius: 4px;
	width: 62%;
}
.HNbe3eZf6H7dtJ042x1vM {
	width: calc(100% + 128px);
	height: 135%;
}
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb, .HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u {
    height: 265%;
}
.QlR9EFwTdUNm_J5vx54_Z {
    height: 123%;
}
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb {
	filter: blur(7px);
	transform: unset
}
._3-V8vjmrwuJM6Ws3tsjFJj>div {
    background: #33383fbd !important;
    box-shadow: none !important;
}
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
    border-image-source: unset;
    border-image-width: 1px;
    border-image-repeat: stretch;
    border-image-slice: 7;
    background: unset;
    box-shadow: 0 0 12px #00000025;
}
._3Yf8b2v5oOD8Wqsxu04ar {
    margin-bottom: -6px !important;
}
._3BFcmjAaMyP6GTPwc0VyWi {
    border: 8px #161d25 solid;
}
._2Dd4T78PcCTUVgOtDGFY5j {
    border-radius: 16px;
}
._27RcNu8aXKBpYkHcNNrt-X ._1sZgBDTw5NH-yuVDZK1SUU {
    width: 69%;
    max-width: 69%;
}
._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
    margin-left: unset !important;
}
/*Information (Date, Time in Game, etc.)*/
._1YbtIWcfkQJOysLXQbwzRf .zjtAIAWI6HE0oCtJzw6Qt {
    display: unset !important;
}
._9EHg918wH6CQCQlD5PWOO {
    display: unset;
}
._1YbtIWcfkQJOysLXQbwzRf ._1mDAVT4sTzFRwJtlKCw2Ws {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row-reverse !important;
    align-content: center !important;
	margin-top: 2px;
}
div.NarrowRightPanel ._34lrt5-Fc3usZU6trA1P0- {
    margin-top: 3px;
}
._1YbtIWcfkQJOysLXQbwzRf {
	background: #424953c9;
	border-radius: 4px;
    top: 7px;
	box-shadow: 0 0 12px #0000005c;
    right: 30px;
    position: fixed !important;
}
._27RcNu8aXKBpYkHcNNrt-X {
    transform-style: unset !important;
}
._1_cYNJSvS6IXs9vLTEYjy5 {
    transform-style: unset !important;
}
._1kiZKVbDe-9Ikootk57kpA {
	margin-left: 5px;
    margin-right: 5px;
    padding: 6px;
}
._34lrt5-Fc3usZU6trA1P0- {
    font-size: 10px;
    line-height: unset;
}
div.NarrowRightPanel ._34lrt5-Fc3usZU6trA1P0- {
    line-height: 10px;
    font-size: 10px;
}
div.NarrowRightPanel ._2TYVGoD27ZMfjRirKQNLfk {
    font-size: 11px;
}
._1kiZKVbDe-9Ikootk57kpA ._3bkqc-SsCg0b3FTEuewlK8 {
    width: 24px;
    height: 24px;
    margin: 4px;
}
._2TYVGoD27ZMfjRirKQNLfk {
    font-size: 11px;
}
._1dg8hJMsAYISbeQUxcCJcv ._25YVDTaClw6Y2COPsU0UaV {
    width: 120px;
	border-radius: 1px;
}
._25YVDTaClw6Y2COPsU0UaV {
    width: 40px;
    border-radius: 1px;
}
._1dg8hJMsAYISbeQUxcCJcv {
    padding: 5px 12px 0px;
}
button.DialogButton._1qG6xUlNu-qvdhpSxwed5 {
    background-color: unset;
	bottom: 3px;
}
._1kiZKVbDe-9Ikootk57kpA ._1tIg-QIrwMNtCm7NcYADyi {
    margin: 2px;
}
/*Location*/
._1kiZKVbDe-9Ikootk57kpA ._3m_zjRTQBqcfzCjXLXUHcR {
    margin-top: 1px;
}
._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg, ._1aKegVl9_lSdNAyWYZQlr9 ._1UXbBdCvbg9tyZhc4owO4W svg {
    margin-top: 1px;
}
div.NarrowRightPanel ._1kiZKVbDe-9Ikootk57kpA .MbTRimZpGCATmn39ae8RT {
    margin-top: 4px;
}
div.NarrowRightPanel ._1kiZKVbDe-9Ikootk57kpA {
    margin-top: -2px !important;
}
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
    margin-top: 6px;
}
/*Play Button*/
._2zxzStp5qY5M1evOm8keES {
    margin-right: 0px;
	margin-left: 0px;
}
._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA {
    border-radius: 4px 0px 0px 4px;
}
._2q-gZ3XJzlvSGHSF-GvSmi {
    border-radius: 0px 4px 4px 0px;
}
._1FnJ6dPuknQFQ2RTpKTI16 {
	margin-left: auto;
    margin-right: auto;
    width: 20%;
}
._3ydigb6zZAjJ0JCDgHwSYA {
    margin-top: 38px;
	border-radius: 4px;
}
._2q-gZ3XJzlvSGHSF-GvSmi {
    margin-top: 38px;
}
.A14yd24JRjhFI-Q1ae6tN {
    bottom: -36px;
}
._2L3s2nzh7yCnNESfI5_dN1.jnXtv79jL6SXXwlJYPtQz {
	display: none;
    opacity: 0;
}
._2OOzYVWIHaKXm6_7sscT9i>div {
    transition: 1s all ease;
	margin-top: 4px;
}
._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
    background: #262a2f;
	border-radius: 10px 10px 0 0;
	display: flex;
	margin-top: 8px;
}
._2r4TK4BAuU-J4FuF_O7v_5 ._3-V8vjmrwuJM6Ws3tsjFJj .Panel {
	background-color: #23262ec7;
}
._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6 {
    border-radius: 0.04em;
}
._9EHg918wH6CQCQlD5PWOO .z8GYwNt_nbBZrf7OVjs-s .Panel, .Panel ._9EHg918wH6CQCQlD5PWOO .z8GYwNt_nbBZrf7OVjs-s {
	display: flex;
    position: fixed;
    margin-top: auto;
    flex-direction: column;
	display: flex;
}
/*Buttons (Fav, Settings, Info)*/
._3qDWQGB0rtwM3qpXTb11Q- {
	background-color: #424953c9;
    width: 26px;
    height: 26px;
    padding: 5px;
}
._3qDWQGB0rtwM3qpXTb11Q- .zvLq1GUCH3yLuqv_TXBJ1 .SVGIcon_Information {
    width: 18px;
    height: 18px;
}
.lO1IF132jJ1gc9yz2HYvV {
    flex-flow: row-reverse;
}
.lO1IF132jJ1gc9yz2HYvV>:last-child {
    margin-right: 10px;
}
._1EAxK56o5a9Nieu5HYkJ4k {
    margin-top: 37px;
}

._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
    border-image-source: unset !important;
    border-image-width: unset !important;
    border-image-repeat: unset !important;
    border-image-slice: unset !important;
    background: unset !important;
    box-shadow: unset !important;
}
.yJLy7HDLJT44C1fcm6lPI {
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)) !important;
}
div.NarrowRightPanel ._3yTl3RiWfo-Itg-xp967wP {
    max-width: 100% !important;
    width: 94%;
}
._3yTl3RiWfo-Itg-xp967wP {
    max-width: 98.1% !important;
}
._2l416KfEtI4CL0mCUEmOBw {
	scroll-width: none;
}
._25oBZpa3dUcMw8QAsa2u67 {
	position: fixed;
}
._25oBZpa3dUcMw8QAsa2u67._3s6_6sN8LyrlTHc_z6VfNU {
	display: grid !important;
	transition: 1s all ease;
    top: 60px;
}
._25oBZpa3dUcMw8QAsa2u67._3yfoeR7q8sXXS2UyFcIK1K {
    display: none;
	transition: 1s all ease;
}
._25oBZpa3dUcMw8QAsa2u67._3s6_6sN8LyrlTHc_z6VfNU>div:not(._1FXWy2UilVZIppT-PetDWw) {
    transform: scale(0.80);
	border-radius: 4px !important;
	background: #26292ee8;
}
._2jPMy2QZr8bWi6yrk5ZzHA ._1uS70KI6ZbUE94jUB27ioB ._3GkV1NVDKuXYTLyRt2Uirz {
    font-size: 18px;
}
._2jPMy2QZr8bWi6yrk5ZzHA ._3cntzF30xAuwn1ARWJjvCb {
    font-size: 18px;
}
._1SIa8xLHqCJGyeA9sQ4yK_ ._1VoVzLPXjhlaguJLgO8htG {
    font-size: 18px;
}

._2_86QNCjVvJTL3Qe6Xztx_ {
    margin-bottom: -7px;
}
._2_86QNCjVvJTL3Qe6Xztx_._2sKVnd_AUg44QSdoAp8Lne {
    opacity: 0;
}
._2l416KfEtI4CL0mCUEmOBw {
	scrollbar-width: none !important;
}
._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 ._2RggXvVkWMDvvxFegjtKso,
._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 ._3uk3F1BmAJQR6rl1TPcaif {
	display: none;
}
._9sPoVBFyE_vE87mnZJ5aB {
    display: flex;
    flex-direction: row-reverse;
    min-width: 270px;
}
._276E6ijBpjMA2_iTxNhhjc._2g5K_hJWc7jVo81zuejhk2 {
    display: none;
}
._9sPoVBFyE_vE87mnZJ5aB {
    padding: 0 8px 0 12px;
}
.z8GYwNt_nbBZrf7OVjs-s {
	position: fixed !important;
	color: rgba(255, 255, 255, .52);
    background: #424953c9;
	margin-top: 7px;
	font-size: 12px;
    border-radius: 4px;
    padding: 14.5px;
	top: 0;
	left: 26px;
	transition: margin .1s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.LibraryDisplaySizeMedium ._3YO5BpDmZERh_G8kaWbaSJ {
    width: 240px;
}
.LibraryDisplaySizeMedium ._17uEBe5Ri8TMsnfELvs8-N {
    height: 275px;
}
._38t1mljBjmJfqjpVzMT1CG {
    background: unset;
    box-shadow: unset;
}
.qGJMO0uQwngYsOvMwgGWa {
    background: #32373dc4;
	border-radius: 10px;
}
._1Q2q_tQ9_Eq8YdEHNAHS3F._3jY6xWI4URhFyYsanh9VKL {
    padding-top: 20px;
	display: flex;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 10px;
    justify-content: center;
    align-items: center;
	padding-left: 0px;
}
._1Q2q_tQ9_Eq8YdEHNAHS3F._3jY6xWI4URhFyYsanh9VKL > ._3yTl3RiWfo-Itg-xp967wP {
	padding-bottom: 10px;
}
._3yTl3RiWfo-Itg-xp967wP {
    background: #32373dc4;
	border: 1px solid #6767741a;
	border-radius: 10px;
}
._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
    padding-right: 32px;
}
._2r4TK4BAuU-J4FuF_O7v_5 {
	background: #32373ddb;
	border: 1px solid #6767741a;
	border-radius: 10px;
}
._2_TE0KLOU7kWWxa9LS7iXA {
	background: #32373dc4;
	border: 1px solid #6767741a;
	border-radius: 10px;
}
._3ii4EUZ1oF_rrhxGNbOcXO {
	background: #32373dc4;
	border: 1px solid #6767741a;
	border-radius: 10px;
}
._3yTl3RiWfo-Itg-xp967wP._1_lVh3JvHLiurz1OuvfGhm {
    margin-bottom: 25px;
}
.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C {
    margin-top: 24px;
}
.A6G1leLXs7Vqw45hoXg-l {
    margin-top: -38px;
    width: 99%;
    max-width: 98.1% !important;
}
._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw {
    background-image: unset;
}
._1Q2q_tQ9_Eq8YdEHNAHS3F._3jY6xWI4URhFyYsanh9VKL {
    background: #424853;
    outline: 3px solid #424853;
    border-radius: 10px 10px 1px 1px;
	box-shadow: 0 3px .4em #00000061;
}
._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X {
    margin-top: 17px;
}
._2bqRppbRWGNAZV5lfubW7- {
    margin-bottom: 0px;
}
._3C0istohNAM4_kDuBULbcw._3gj9A13VQyuW_6wr_Io8Xz > div.Panel > .nibodjvvrm86uCfnnAn4g {
    height: 42px;
    width: 42px;
}
._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
    width: 27.5%;
}
._21DlIyo8Kp99Kz3KmWiFno {
    gap: 7px;
}
._1SQ30LQnUhED7sXI79rmas {
    margin-top: -4px;
}
.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C {
    border-image: unset;
    box-shadow: unset;
}
._2lNdDLgjQdeBXmMlPO8lvq {
    margin-left: unset;
    margin-right: unset;
}
._1I55h8ejmOddwvE4LFbSEq._1NRN70rIb7x4BuBjP2fz69 {
	margin: 2px;
    padding-top: 20px;
    padding-bottom: 2px;
}
._1I55h8ejmOddwvE4LFbSEq._3Q3kETm6PND6WIiN-yjbj {
	margin: 2px;
    padding-top: 20px;
    padding-bottom: 2px;
}
._39bm0CkBxBjJsnPpAzoZlv:nth-of-type(1) > .nTb1NqsRSnwl0UTOYn_JA {
	padding-top: 8px !important;
}
._39bm0CkBxBjJsnPpAzoZlv:nth-of-type(2) > .nTb1NqsRSnwl0UTOYn_JA,
._39bm0CkBxBjJsnPpAzoZlv:nth-of-type(3) > .nTb1NqsRSnwl0UTOYn_JA {
	border-top: solid 1px #ffffff0f !important;
    padding-top: 14px !important;
}
._39bm0CkBxBjJsnPpAzoZlv {
	margin-bottom: 10px;
}
button.DialogButton._3Cdin80d-hVsakHUZboheb._3nJyYxGQ3kdwwabPmxNnMe {
    margin-top: 4px;
}
._2YS0EBJmY2Rvs07zZ90UIJ {
    padding-left: 66px;
}
._2YS0EBJmY2Rvs07zZ90UIJ svg {
    left: -6px;
}
._3ca11X3AK6npLS3emMa5Lr._3i6PczGBBYzCDZXkCDbJAD {
    border-top: solid 1px #ffffff0f !important;
}
._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    padding-top: 0px;
}
.z8GYwNt_nbBZrf7OVjs-s ._2g3Gley034M1ZGhcq005s {
    left: 25px;
    border-radius: 4px;
    top: 70px;
    background: #424953c9;
    padding: 14.5px;
    font-size: 12px;
    position: fixed;
}
.lO1IF132jJ1gc9yz2HYvV {
    flex-flow: row-reverse;
    position: absolute;
    margin-top: 70px;
    right: 20px;
    margin-left: 0;
}

._7k4qmaN8SUMvv6u-L81uk {
    padding: 4px 38px 4px 30px;
    position: absolute;
    margin-right: 0;
    margin-left: 0;
    width: 150px;
    vertical-align: middle;
}
._3-V8vjmrwuJM6Ws3tsjFJj .DgVQapkBmhAW6oPY5rPZo {
    position: sticky;
    display: block;
    font-size: 13px;
    width: 105%;
    left: 0;
    right: 0;
    margin-right: 0;
    margin-left: 0;
}
._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
    padding: 4px 10px 2px 10px;
    flex-direction: row;
    vertical-align: middle;
    position: relative;
    left: 0;
    right: 0;
    margin-right: 0;
    margin-left: 0;
}