._2FxbHJzYoH024ko7zqcJOf {
	box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005 !important;
	transition: opacity .25s !important;
    text-overflow: ellipsis !important;
	box-sizing: border-box !important;
	pointer-events: none !important;
	white-space: nowrap !important;
	border-radius: 2px;
	width: fit-content !important;
	user-select: none !important;
    overflow: hidden !important;
	font-size: 13px !important;
	background-color: #696773 !important;
	color: #E0E1E6 !important;
	
	background: unset;
	text-shadow: unset;
}