/* Replace SVG Online Icon */
.nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.bottom,
.nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.right, 
._3xUpb5DWXPFNcHHIcv-9pe {
	visibility: hidden;
}
/* Code for Alt Online Icon */
._3xUpb5DWXPFNcHHIcv-9pe.right,
._3xUpb5DWXPFNcHHIcv-9pe.bottom {
	border-radius: 0%;
}

/* Disable Round Avatars with Cosmetic Border */
._3h-QRJGxnVOIExtHD1R0f2:has(+ ._2nPONxDUmK4rQXzK4Y3vG2) {
	border-radius: 0% !important;
}

/* Disable Outline for Avatar Custom Border */
._3h-QRJGxnVOIExtHD1R0f2:has(+ ._2nPONxDUmK4rQXzK4Y3vG2) {
	outline: unset !important;
}

._3h-QRJGxnVOIExtHD1R0f2 {
	outline: 1px solid;
	transition: .35s linear;
}
/*offline*/ ._3h-QRJGxnVOIExtHD1R0f2 {
	outline-color: var(--offline-status);
}
.online ._3h-QRJGxnVOIExtHD1R0f2 {
	outline-color: var(--online-status);
}
.awayOrSnooze ._3h-QRJGxnVOIExtHD1R0f2 {
	outline: 1px dashed var(--idle-status);
}
.ingame ._3h-QRJGxnVOIExtHD1R0f2 {
	outline-color: var(--ingame-status);
}
.ingame.awayOrSnooze ._3h-QRJGxnVOIExtHD1R0f2 {
	outline: 1px dashed var(--ingameidle-status);
}