._3xUpb5DWXPFNcHHIcv-9pe.right {
    top: unset;
	left: unset;
    width: 20%;
    height: 20%;
    border-radius: 28%;
    outline: solid 2px #272d37;
	margin-bottom: 1px;
	margin-right: 1px;
}
._3xUpb5DWXPFNcHHIcv-9pe.bottom {
    top: unset;
	left: unset;
    width: 20%;
    height: 20%;
    border-radius: 28%;
    outline: solid 2px #272d37;
	margin-bottom: 1px;
	margin-right: 1px;
}
._3yD46y5pd3zOGR7CzKs0mC .nibodjvvrm86uCfnnAn4g ._3xUpb5DWXPFNcHHIcv-9pe.right {
    width: 28%;
    height: 28%;
}

._3xUpb5DWXPFNcHHIcv-9pe.right,
._3xUpb5DWXPFNcHHIcv-9pe.bottom {
	background: #94a1a6;
}
._3yD46y5pd3zOGR7CzKs0mC:hover {
    background-color: rgb(109 110 110 / 30%);
}

.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe {
    -webkit-mask: unset;
    -webkit-mask-size: unset;
    mask: unset;
    mask-size: unset;
    opacity: 1;
}
.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe.bottom {
    -webkit-mask: unset;
    mask: unset;
}
.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe {
    background: #de8129 !important;
}
.awayOrSnooze .nOdcT-MoOaXGePXLyPe0H {
    color: #de8129 !important;
}
._3yD46y5pd3zOGR7CzKs0mC.online.awayOrSnooze {
    color: #de8129cf !important;
}
._1DsumfIa3MlkzUV9EXY5W9.online ._2n0EiKMGRP-r_BI5tDtttu {
    color: #de81298a !important;
}
._3yD46y5pd3zOGR7CzKs0mC.online.awayOrSnooze:hover {
    background-color: #de81294d !important;
}
._3yD46y5pd3zOGR7CzKs0mC:hover {
    transition: background-color .25s ease-out !important;
}

.online ._3xUpb5DWXPFNcHHIcv-9pe {
    background: #4cb4ff;
}
.online .nOdcT-MoOaXGePXLyPe0H {
    color: #4cb4ff;
}
._3yD46y5pd3zOGR7CzKs0mC.online:hover {
    background-color: rgba(76, 180, 255, .2);
}

.ingame ._3xUpb5DWXPFNcHHIcv-9pe {
    background: #83c535;
}

.KxAI_M9gWx3OnKSshHOs6.online.awayOrSnooze .SVGIcon_MobilePhone path {
    fill: #de8129cf !important;
}
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_MobilePhone path {
    fill: #42b1f6b8 !important;
}
.KxAI_M9gWx3OnKSshHOs6 .SVGIcon_MobilePhone path {
    fill: #a0a0a0b3;
}

._1DsumfIa3MlkzUV9EXY5W9.in-game ._2n0EiKMGRP-r_BI5tDtttu {
    color: #83c535;
}

.ingame.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe {
    background: #deb329 !important;
}
.ingame.awayOrSnooze .nOdcT-MoOaXGePXLyPe0H {
    color: #deb329 !important;
}

.ingame .nOdcT-MoOaXGePXLyPe0H {
    color: #83c535;
}
.ingame._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
    color: #b1c994;
}