	/* Social Buttons */
/*Moving the 'Friends' and 'Downloads' buttons - CODE CSS & JS FROM "Simply Dark" | CREDIT BY "shdwmtr"*/
._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR, 
._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj, 
._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 {
	background-color: rgba(103, 112, 123, .2);
	justify-content: center !important;
	align-items: center !important;
	border-radius: 4px;
	max-height: 32px !important;
    padding: 0px 4px !important;
	min-height: 32px !important;
	min-width: 24px !important;
    display: flex !important;
    height: 100% !important;
}
._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR {
	min-width: 32px !important;
}
._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR:hover, 
._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj:hover, 
._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9:hover {
	transition: background-color .15s ease-out;
	background-color: #6363632e;
}
._3vCzSrrXZzZjVJFZNg9SGu {
    width: fit-content !important;
    box-shadow: none !important;
    background: none !important;
	-webkit-app-region: no-drag;
    gap: 5px !important;
    flex: 0 !important;
}
._1_yS5UP7el0aN4vntx3dx > div:first-of-type {
	transform: translateX(-50%);
    position: fixed;
    width: 700px;
}
._1_yS5UP7el0aN4vntx3dx {
    padding: 0 !important;
    position: absolute !important;
    --steam-control-width: 242px !important;
    top: 12px;
}

/*Change Text Style in Downloads*/
.ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y {
	transition-timing-function: ease-in-out;
    transition-property: color;
    transition-duration: .1s;
	font-weight: bold;
	cursor: pointer;
    font-size: 13px;
    color: #8b929a;
}
.ip-YZhijAMZcuRoXBGiye ._1sCy-pm412Smb0wJx0W-4 {
	font-weight: bold;
    font-size: 13px;
    color: #8b929a;
}

._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D {
    max-width: 215px !important;
    align-items: center !important;
}
._3vCzSrrXZzZjVJFZNg9SGu ._2iJsgdTIX9Tj23rWnB7Q-c, ._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D ._21vPQjHoo0uwud5lfCD_x-, 
._3vCzSrrXZzZjVJFZNg9SGu ._2EQ7ghgqIdjKv9jsQC0Zq9 ._2VtAqT03BpBsVdmxwptn9D .IconBevel {
    display: none !important; 
}
/*Buttons Location*/
._3vCzSrrXZzZjVJFZNg9SGu {
    padding: 0 0 0 5px !important;
}
/*Change Style Tooltips*/
._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k, ._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
	box-shadow: 1px 1px 8px #0005, 2px 2px 16px 1px #0005 !important;
	transition: opacity .25s !important;
    text-overflow: ellipsis !important;
	box-sizing: border-box !important;
	pointer-events: none !important;
	white-space: nowrap !important;
	border-radius: 2px;
    position: absolute !important;
	width: fit-content !important;
	user-select: none !important;
    padding: 6px 8px !important;
    overflow: hidden !important;
    max-width: 300px !important;
	font-size: 13px !important;
	background-color: #696773;
	color: #E0E1E6 !important;
	z-index: 99 !important;
	opacity: 0 !important;
    top: 40px !important;
}
._3vCzSrrXZzZjVJFZNg9SGu ._2foCkpRXhqq0UGVE50BWqj:hover ._3OhUxFVlQYr9W5ThxstR8k, ._3vCzSrrXZzZjVJFZNg9SGu ._1TdaAqMFadi0UTqilrkelR:hover ._3OhUxFVlQYr9W5ThxstR8k {
    opacity: 1 !important;
}

	/*Extra Code*/
/*Order Buttons*/
._2foCkpRXhqq0UGVE50BWqj {
    order: 1;
}
._2EQ7ghgqIdjKv9jsQC0Zq9 {
    order: 2;
}
._1TdaAqMFadi0UTqilrkelR {
    order: 3;
}
/*[END] CODE CSS & JS FROM "Simply Dark"*/