		/* List Library */
	/*Main Style*/
/*Remove Color*/
._3x1HklzyDs4TEjACrRO2tB {
    background-image: unset;
}
._2TKEazUUS3TlniZfpc8OOe {
    background-color: unset;
}
/*Bigger Text*/
._2-O4ZG0KrnSrzISHBKctFQ {
    font-size: 14px;
}
/*Bigger List*/
div.ReactVirtualized__Grid__innerScrollContainer > div.Panel {
	height: 28px !important;
}
._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 {
	padding-bottom: 4px;
    padding-top: 4px;
	padding-left: 23px;
}
/* Remove Scroll */
.ReactVirtualized__Grid.ReactVirtualized__List {
    scrollbar-width: none !important;
}
/* Fancy Game List */
._9sPoVBFyE_vE87mnZJ5aB {
    padding: 8px;
    margin-top: -8px;
    padding-bottom: 14.6px;
	position: unset;
}
._3x1HklzyDs4TEjACrRO2tB {
    padding: 4px;
	border-radius: 10px;
    background: var(--secondary-background) !important;
}
html:has([class*="NarrowRightPanel"]) [class*="_9sPoVBFyE_vE87mnZJ5aB"] {
    height: 97.9% !important;
}

._3pSPluBgf0NeR1kkCLWMhR {
    background-color: var(--main-background);
}
._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3 {
    background-color: color-mix(in srgb, var(--main-background) 90%, white) !important;
}
._3pSPluBgf0NeR1kkCLWMhR:hover {
    background-color: color-mix(in srgb, var(--main-background) 90%, white) !important;
}

		/* Main Game Page */
/*"Window" Style*/
._2Dd4T78PcCTUVgOtDGFY5j {
    width: 99.4%;
    height: 99.2%;
    background: var(--main-background);
    border-radius: 10px;
}
._2Nq6ov7A1hGcHXVOXNt_OE {
    border-top: unset;
}

._3vCzSrrXZzZjVJFZNg9SGu>* {
    background-color: var(--main-background);
    border-radius: 6px;
}
._2l416KfEtI4CL0mCUEmOBw {
    background-color: unset;
}	
	
	/*Remover*/
._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw {
    background-image: unset;
}	
/*Remove Scroll*/
._2l416KfEtI4CL0mCUEmOBw {
	scroll-width: none;
}
/*Remove Stupid Blur*/
._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa {
    backdrop-filter: unset;
    background: unset;
}
/*Remove Banner Mirror Image*/
.HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb {
    display: none;
}
/*Remove Mini Info When You Scroll Down*/
._2L3s2nzh7yCnNESfI5_dN1.jnXtv79jL6SXXwlJYPtQz {
	display: none;
    opacity: 0;
}
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
	background: unset;
    margin-top: 6px;
}
/*Hide Scroll*/
._2l416KfEtI4CL0mCUEmOBw {
    scrollbar-width: none;
}

/*Lower Collection Tags*/
._2b6WkTnmJxMuX1biL7aS3C {
    position: fixed !important;
    top: 6px;
    right: 16px;
    max-height: 16px;
    align-content: center;
    justify-content: center;
} 

._2b6WkTnmJxMuX1biL7aS3C ._1HS4twEHtDJ_8MWgJT4VBd {
    font-size: 8px;
    background: color-mix(in srgb, var(--secondary-background) 65%, transparent) !important;
	border-radius: 4px;
	box-shadow: 0 0 12px #0000005c;
}

/*Fancy Gamepage Basic*/
._2OOzYVWIHaKXm6_7sscT9i>div {
    transition: 1s all ease;
    margin-top: -26px;
}
.A14yd24JRjhFI-Q1ae6tN {
    transition: 1s all ease;
}
._3Y87YQY56ZCOqhgcZFaDc5 {
    padding: 10px 20px 4px 20px;
}
div.NarrowRightPanel ._2zxzStp5qY5M1evOm8keES {
    height: unset;
}
._39RheXihcN6H2k2muQTjkI ._2zxzStp5qY5M1evOm8keES {
    height: 32px;
}

._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
    border-image-source: unset !important;
    border-image-width: unset !important;
    border-image-repeat: unset !important;
    border-image-slice: unset !important;
    background: unset !important;
    box-shadow: unset !important;
}
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
    border-image-source: unset;
    border-image-width: 1px;
    border-image-repeat: stretch;
    border-image-slice: 7;
    background: unset;
    box-shadow: 0 0 12px #00000025;
}

._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
    padding: 4px 10px 2px 10px;
    flex-direction: row;
    vertical-align: middle;
    position: relative;
    left: 0;
    right: 0;
    margin-right: 0;
    margin-left: 0;
}
._7k4qmaN8SUMvv6u-L81uk {
    padding: 4px 20px 4px 20px;
    position: absolute;
	margin-left: -12px;
	margin-right: 20px;
    width: 150px;
}
div.NarrowRightPanel ._3-V8vjmrwuJM6Ws3tsjFJj ._7k4qmaN8SUMvv6u-L81uk {
    margin-left: -10px;
}
._7k4qmaN8SUMvv6u-L81uk:last-child {
    padding-right: unset;
}

.HNbe3eZf6H7dtJ042x1vM {
    width: calc(95% + 128px);
    height: 130%;
    max-width: 100%;
    -webkit-mask-image: unset;
    mask-image: unset;
}

._3-V8vjmrwuJM6Ws3tsjFJj .DgVQapkBmhAW6oPY5rPZo {
    position: sticky;
    display: block;
    font-size: 13px;
    width: 105%;
    left: 0;
    right: 0;
	margin-left: 38px;
}
._3-V8vjmrwuJM6Ws3tsjFJj ._25f0fX6qbgdB7O_lMrbhCN {
    padding: 4px 10px 2px 10px;
    flex-direction: row;
    vertical-align: middle;
    position: relative;
    left: 0;
    right: 0;
    margin-right: 0;
    margin-left: 0;
}
._3-V8vjmrwuJM6Ws3tsjFJj {
	margin-left: auto;
    margin-right: auto;
    background-color: color-mix(in srgb, var(--secondary-background) 75%, transparent) !important;
	border-radius: 8px;
	width: 72%;
}
html:has([class*="_39RheXihcN6H2k2muQTjkI"]):has([class*="_1YbtIWcfkQJOysLXQbwzRf"]):has([class*="zjtAIAWI6HE0oCtJzw6Qt"]) [class*="_3-V8vjmrwuJM6Ws3tsjFJj"],
html:has([class*="_39RheXihcN6H2k2muQTjkI"]):has([class*="_1YbtIWcfkQJOysLXQbwzRf"]):has([class*="zjtAIAWI6HE0oCtJzw6Qt"]) [class*="A14yd24JRjhFI-Q1ae6tN"] {
	opacity: 0 !important;
	transition: 1s all ease !important;
}
._3-V8vjmrwuJM6Ws3tsjFJj>div {
    background: #33383fbd !important;
    box-shadow: none !important;
}
._2r4TK4BAuU-J4FuF_O7v_5 ._3-V8vjmrwuJM6Ws3tsjFJj .Panel {
	background-color: #23262ec7;
}

div.NarrowRightPanel ._3-V8vjmrwuJM6Ws3tsjFJj {
    margin-top: -26px;
    width: 43%;
}

.z8GYwNt_nbBZrf7OVjs-s {
    position: fixed;
    top: -2px;
    left: 16px;
    padding: 12px;
    background: color-mix(in srgb, var(--secondary-background) 65%, transparent) !important;
	box-shadow: 0 0 12px #0000005c;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.6px;
}
.z8GYwNt_nbBZrf7OVjs-s ._2g3Gley034M1ZGhcq005s {
	position: fixed;
    top: 63px;
    right: 16px;
    background: color-mix(in srgb, var(--secondary-background) 65%, transparent) !important;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.6px;
	color: var(--accent-light);
}

/*Fancy Info*/
._1YbtIWcfkQJOysLXQbwzRf .zjtAIAWI6HE0oCtJzw6Qt {
    display: unset !important;
}
._9EHg918wH6CQCQlD5PWOO {
    display: unset;
}
._9EHg918wH6CQCQlD5PWOO .z8GYwNt_nbBZrf7OVjs-s .Panel, .Panel ._9EHg918wH6CQCQlD5PWOO .z8GYwNt_nbBZrf7OVjs-s {
	display: flex;
    position: fixed;
    margin-top: auto;
    flex-direction: column;
}
._1YbtIWcfkQJOysLXQbwzRf ._1mDAVT4sTzFRwJtlKCw2Ws {
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row-reverse !important;
    align-content: center !important;
	margin-top: 2px;
}

._27RcNu8aXKBpYkHcNNrt-X {
    transform-style: unset !important;
}
._1_cYNJSvS6IXs9vLTEYjy5 {
    transform-style: unset !important;
}
div.NarrowRightPanel ._34lrt5-Fc3usZU6trA1P0- {
    margin-top: 3px;
}
._1YbtIWcfkQJOysLXQbwzRf {
    position: fixed !important;
    top: 24px;
    right: 16px;
	background: color-mix(in srgb, var(--secondary-background) 65%, transparent) !important;
	border-radius: 8px;
	box-shadow: 0 0 12px #0000005c;
}

._1kiZKVbDe-9Ikootk57kpA ._3bkqc-SsCg0b3FTEuewlK8 {
    width: 24px;
    height: 24px;
    margin: 4px;
}
._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg, 
._1aKegVl9_lSdNAyWYZQlr9 ._1UXbBdCvbg9tyZhc4owO4W svg {
    margin-top: unset !important;
}
._1kiZKVbDe-9Ikootk57kpA ._1tIg-QIrwMNtCm7NcYADyi > svg {
    margin-top: -3.5px;
}

._34lrt5-Fc3usZU6trA1P0- {
    font-size: 10px;
    line-height: unset;
}
div.NarrowRightPanel ._34lrt5-Fc3usZU6trA1P0- {
	font-size: 10px;
    line-height: 10px;
}
div.NarrowRightPanel ._2TYVGoD27ZMfjRirKQNLfk {
    font-size: 11px;
}
._2TYVGoD27ZMfjRirKQNLfk {
    font-size: 11px;
}

._1dg8hJMsAYISbeQUxcCJcv {
    margin-left: 8px;
    margin-right: 5px;
}
._1bIMOmWaxKrMdVMWU21ku {
    padding-right: 0px;
}
._1kiZKVbDe-9Ikootk57kpA ._1tIg-QIrwMNtCm7NcYADyi {
    margin-left: 0px;
}

.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:hover {
    background-color: rgb(109 109 109 / 14%);
}
.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ {
    border-radius: 4px;
}

._1bIMOmWaxKrMdVMWU21ku svg {
    height: 70%;
}
._1bIMOmWaxKrMdVMWU21ku:hover svg {
    border-radius: 4px;
	transition: .3s all ease;
    background: rgb(109 109 109 / 14%);
}
._1dg8hJMsAYISbeQUxcCJcv ._25YVDTaClw6Y2COPsU0UaV {
    display: none;
}
._1dg8hJMsAYISbeQUxcCJcv._2F4PcO4yl7Xl5emuGiF2La {
    margin-top: 3px;
}
/*Mini Mini Info*/
div.NarrowRightPanel ._1YbtIWcfkQJOysLXQbwzRf {
    max-height: 42px;
}
div.NarrowRightPanel ._1YbtIWcfkQJOysLXQbwzRf .zjtAIAWI6HE0oCtJzw6Qt {
    height: 38px;
}
div.NarrowRightPanel ._1kiZKVbDe-9Ikootk57kpA ._3bkqc-SsCg0b3FTEuewlK8 {
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 4px;
}
/*Expand Info*/
._25oBZpa3dUcMw8QAsa2u67._3s6_6sN8LyrlTHc_z6VfNU>div:not(._1FXWy2UilVZIppT-PetDWw) {
    transform: scale(0.80);
	border-radius: 4px !important;
	background: #26292ee8;
	position: fixed;
}
._2QAgOXmzdXYGH8vI6S2sHw._25oBZpa3dUcMw8QAsa2u67 {
    position: fixed;
    margin-top: -260px !important;
}
._2jPMy2QZr8bWi6yrk5ZzHA ._1uS70KI6ZbUE94jUB27ioB ._3GkV1NVDKuXYTLyRt2Uirz {
    font-size: 18px;
}
._2jPMy2QZr8bWi6yrk5ZzHA ._3cntzF30xAuwn1ARWJjvCb {
    font-size: 18px;
}
._1SIa8xLHqCJGyeA9sQ4yK_ ._1VoVzLPXjhlaguJLgO8htG {
    font-size: 18px;
}

/*Play Button*/
._1FnJ6dPuknQFQ2RTpKTI16 {
	margin-left: auto;
    margin-right: auto;
    width: 20%;
}
._3ydigb6zZAjJ0JCDgHwSYA {
    border-radius: 6px;
}
._1hhB2Wf7iExA15zh_lDQ_y ._3ydigb6zZAjJ0JCDgHwSYA {
    border-radius: 6px 0px 0px 6px;
}
._2q-gZ3XJzlvSGHSF-GvSmi {
    border-radius: 0px 6px 6px 0px;
}

:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._2AzIX5kl9k6JnxLfR5H4kX svg {
    color: white;
    fill: white;
}

/*Buttons (Fav, Settings, Info)*/
.lO1IF132jJ1gc9yz2HYvV {
    flex-flow: column-reverse;
    position: absolute;
    margin-top: 14px;
    right: 6px;
    margin-left: 0;
    margin-right: 0;
}

._3qDWQGB0rtwM3qpXTb11Q- {
	background: color-mix(in srgb, var(--secondary-background) 75%, transparent) !important;
    width: 26px;
    height: 26px;
    bottom: 16px;
    padding: 5px;
    margin-top: 5px;
}

._3qDWQGB0rtwM3qpXTb11Q- .zvLq1GUCH3yLuqv_TXBJ1 .SVGIcon_Information {
    width: 18px;
    height: 18px;
	margin-left: unset;
}
._1EAxK56o5a9Nieu5HYkJ4k {
    margin-top: 37px;
}

._3qDWQGB0rtwM3qpXTb11Q-:hover {
    background-color: color-mix(in srgb, var(--secondary-background) 45%, transparent) !important;
}

	/*Fancy Post Design*/
._27RcNu8aXKBpYkHcNNrt-X .OhSdLYuggDtBcWjYP0j_9 {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    background-color: var(--secondary-background);
    border-radius: 20px 20px 0 0;
    margin-top: 14px;
}
._1Q2q_tQ9_Eq8YdEHNAHS3F._3jY6xWI4URhFyYsanh9VKL > ._3yTl3RiWfo-Itg-xp967wP {
	padding-bottom: 10px;
}

._1Q2q_tQ9_Eq8YdEHNAHS3F._3jY6xWI4URhFyYsanh9VKL {
	display: flex;
	font-weight: bold;
    justify-content: center;
    align-items: center;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: unset;
}
._1Q2q_tQ9_Eq8YdEHNAHS3F {
    color: #81878F;
}

._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO > .vzLedtsu3TtTlKLEKzIhH ._2r4TK4BAuU-J4FuF_O7v_5 {
    background: color-mix(in srgb, var(--secondary-background) 90%, gray) !important;
    border-radius: 10px;
}
._27RcNu8aXKBpYkHcNNrt-X ._1sZgBDTw5NH-yuVDZK1SUU > .vzLedtsu3TtTlKLEKzIhH ._3yTl3RiWfo-Itg-xp967wP {
    max-width: 65%;
    background: color-mix(in srgb, var(--secondary-background) 90%, gray) !important;
    border-radius: 10px;
}
div.NarrowRightPanel ._3yTl3RiWfo-Itg-xp967wP {
    max-width: 64%;
}
._1Q2q_tQ9_Eq8YdEHNAHS3F._3jY6xWI4URhFyYsanh9VKL {
    background: color-mix(in srgb, var(--secondary-background) 90%, white) !important;
    outline: 3px solid color-mix(in srgb, var(--secondary-background) 90%, white) !important;
    border-radius: 10px 10px 1px 1px;
    box-shadow: 0 3px .4em #00000061;
    margin-left: 0px;
    margin-right: 0px;
}
.qGJMO0uQwngYsOvMwgGWa {
    background: color-mix(in srgb, var(--secondary-background) 90%, gray) !important;
	border-radius: 10px;
}
._2r4TK4BAuU-J4FuF_O7v_5 ._3-V8vjmrwuJM6Ws3tsjFJj .Panel {
	background-color: color-mix(in srgb, var(--secondary-background) 90%, gray) !important;
}

._5uvIN6jXDXzzck59F-nhv {
    padding: 8px 10px 10px 10px;
}
._27RcNu8aXKBpYkHcNNrt-X ._11kuVRYZvWXn-3rBJ_6yL8 {
    display: none;
}
._3yTl3RiWfo-Itg-xp967wP._1_lVh3JvHLiurz1OuvfGhm {
	margin-top: -15.4px;
    background: unset;
    border: unset;
}

._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
    margin-left: 26px;
}
div.NarrowWindow ._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
    margin-left: 18px;
}

._2r4TK4BAuU-J4FuF_O7v_5:has(._2A8NghNvAnMQQTHsudFu7H) {
    background: color-mix(in srgb, var(--secondary-background) 90%, gray) !important;
    border-radius: 10px;
}


	/*Friends List etc.*/
._3C0istohNAM4_kDuBULbcw._3gj9A13VQyuW_6wr_Io8Xz > div.Panel > .nibodjvvrm86uCfnnAn4g {
    height: 42px;
    width: 42px;
}
._1GCZAht_W2I3Elndk5cU0- > .Panel > .nibodjvvrm86uCfnnAn4g.Medium {
    height: 42px;
    width: 42px;
	margin-top: 3px;
	margin-right: 2px;
    margin-left: 6px;
}
._39bm0CkBxBjJsnPpAzoZlv .nTb1NqsRSnwl0UTOYn_JA {
    text-align: center;
	padding-bottom: 12px;
	color: #c0c2c5;
}
._39bm0CkBxBjJsnPpAzoZlv:nth-of-type(1) > .nTb1NqsRSnwl0UTOYn_JA {
	padding-top: 2px !important;
}
._39bm0CkBxBjJsnPpAzoZlv:nth-of-type(2) > .nTb1NqsRSnwl0UTOYn_JA,
._39bm0CkBxBjJsnPpAzoZlv:nth-of-type(3) > .nTb1NqsRSnwl0UTOYn_JA {
	border-top: solid 1px #ffffff0f !important;
    padding-top: 12px !important;
}
._39bm0CkBxBjJsnPpAzoZlv {
    margin-bottom: 8px;
    margin-top: 4px;
}
._1GCZAht_W2I3Elndk5cU0- > .Panel > .nibodjvvrm86uCfnnAn4g.Medium {
    height: 42px;
    width: 42px;
	margin-top: 3px;
	margin-right: 2px;
    margin-left: 6px;
}
._1GCZAht_W2I3Elndk5cU0- {
    height: 48px;
	border-radius: 6px;
	margin-right: unset;
}
._1GCZAht_W2I3Elndk5cU0-:hover {
    background-color: rgb(109 109 109 / 14%);
	transition: .1s linear;
}
._1GCZAht_W2I3Elndk5cU0- ._21_CDFn4v_FolhtQzF6WRD {
    padding-top: 8px;
}
._1SQ30LQnUhED7sXI79rmas {
    text-align: center;
}

.ddB5GVHCwLezhshXUMCNL {
    margin-left: auto;
    margin-right: auto;
    top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: unset;
    height: 184px;
	padding-right: unset;
}
._3dJ4Bq6Msivz5-UIHzSEQu .ElNfQSVSKeMaOVHygQ4Nh { 
    display: none;
}
._3dJ4Bq6Msivz5-UIHzSEQu {
    padding: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
	max-height: 130px;
}
.VytJzt3Z_t6332-n24Yrc {
    min-width: 290px;
    max-width: 400px;
    border-radius: 6px;
}
._2gv3EsHSu5dMQyMqaz-W9t {
    display: block;
	background: color-mix(in srgb, var(--secondary-background) 90%, white) !important;
	width: 750px;
	
	border-radius: 10px;
    outline: 1px solid color-mix(in srgb, var(--secondary-background) 80%, gray) !important;
    box-shadow: 0px 0.11em 9px 0px #00000099;
}
._2gv3EsHSu5dMQyMqaz-W9t:hover {
	background: color-mix(in srgb, var(--secondary-background) 85%, white) !important;
	transition: .2s linear;
}
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6C > ._1HZy7BvOZuPT8feUwadL4W > ._2gv3EsHSu5dMQyMqaz-W9t {
	outline: 2px solid color-mix(in srgb, var(--secondary-background) 80%, gray) !important;
}
._2gv3EsHSu5dMQyMqaz-W9t:hover ._1ujzuoxGhLunHZQqHAqRgg div {
	background: color-mix(in srgb, var(--secondary-background) 85%, white) !important;
	transition: .2s linear;
}
._1HZy7BvOZuPT8feUwadL4W {
    border-radius: 11px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.UVeN0kaD3zv1feMj_mMw5.By7D93oEZkZtBeg23NDoR._3xi-HLpFVHaakihoqhQ_6C > ._1HZy7BvOZuPT8feUwadL4W > ._2gv3EsHSu5dMQyMqaz-W9t {
	outline: 2px solid #1f84cc;
}
._1HZy7BvOZuPT8feUwadL4W {
    background: unset;
    transition-property: unset; 
    transition-duration: unset;
    transition-timing-function: unset; 
}
._1AYE16384J_ecLpN0sEYc5 {
    border: unset;
    border-image-source: unset;
    border-image-width: unset;
    border-image-repeat: unset;
    border-image-slice: unset;
    box-shadow: unset;
    background: unset;
}
._1HZy7BvOZuPT8feUwadL4W:hover {
	background: unset;
}
._1AYE16384J_ecLpN0sEYc5:last-child {
    padding: 16px 0 16px 0;
}
.UVeN0kaD3zv1feMj_mMw5 ._1WdC0YUP8FT0dYWZ-QIVZL {
    background: #1f84cc;
    padding: 4px 0px 4px 2px;
    font-weight: bold;
    box-shadow: 0px -3px 9px 1px #0000005c;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 2px;
    top: -16px;
    position: absolute;
    border-radius: 6px 6px 0 0;
	margin-left: unset;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
	display: flex;
    justify-content: center;
	padding: 4px 0px 4px 2px;
    width: 30%;
}
._1HZy7BvOZuPT8feUwadL4W {
    margin-left: auto;
    margin-right: auto;
}
._1ujzuoxGhLunHZQqHAqRgg {
    color: #81878F;
    font-size: 17px;
	font-weight: bold;
	margin-right: unset;
}
._1ujzuoxGhLunHZQqHAqRgg div {
    padding: 12px 10px 8px 10px;
    display: flex;
    margin-top: -438px;
    background: color-mix(in srgb, var(--secondary-background) 90%, white) !important;
    border-radius: 0 0 10px 10px;
}
._2gv3EsHSu5dMQyMqaz-W9t:hover ._1ujzuoxGhLunHZQqHAqRgg div {
	background: color-mix(in srgb, var(--secondary-background) 85%, white) !important;
	transition: .2s linear;
}
.Ru7OBQzSxqIo3jIsbtV9g {
	max-width: 600px;
    padding-top: 6px;
	margin: auto;
    text-align: center;
}
html:has([class*="NarrowRightPanel"]) [class*="_3dJ4Bq6Msivz5-UIHzSEQu"],
div.NarrowRightPanel ._3dJ4Bq6Msivz5-UIHzSEQu {
    padding: 24px 0px 0px 0px;
}
html:has([class*="NarrowRightPanel"]) [class*="_1ujzuoxGhLunHZQqHAqRgg"],
div.NarrowRightPanel ._1ujzuoxGhLunHZQqHAqRgg div {
    margin-top: -416px;
}
.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C {
    box-shadow: unset;
    background: unset;
}

.S2Fu9HxHCA5MaCLGrN2ib ._19LfMT7PFWg2xHOqNjR99q {
    justify-content: center;
	border-top: 2px solid;
	margin-top: 4px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-radius: 10px 10px 0px 0px;
    border-color: #9aa1ab38;
    padding-top: 4px;
    width: 30%;
	margin-left: auto;
    margin-right: auto;
	padding-bottom: 4px;
	font-weight: bold;
	letter-spacing: 1.5px;
	background: color-mix(in srgb, var(--secondary-background) 90%, white) !important;
    margin-top: 12px;
    margin-bottom: 8px;
}
.S2Fu9HxHCA5MaCLGrN2ib ._19LfMT7PFWg2xHOqNjR99q ._3pcPRPvuGH7hEM33zLknZO {
    height: 2px;
	width: 59%;
    align-self: center;
    background: color-mix(in srgb, var(--secondary-background) 85%, white) !important;
	position: fixed;
    margin-top: 28px;
	margin-left: unset;
    box-shadow: 0px 4px 8px 0px #00000059;
}

/*Fancy Achivements*/
.yJLy7HDLJT44C1fcm6lPI {
	padding: unset;
	justify-content: center;
}
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
    background: unset;
    border-image-width: unset;
    border-image-repeat: unset;
    border-image-slice: unset;
}
._1j_gja8bHXjiS-BeSQk8hb {
    padding: 12px;
    background: color-mix(in srgb, var(--secondary-background) 90%, white) !important;
    border-radius: 8px;
    border: solid #9aa1ab38 2px;
}	
._1ABm6sfuqiZZDSL9z8mW1a,
._2aVnDeExEHiUFX0zwr_BTO,
._2V2sHETNfa62yMoDwSF3_t {
	border-radius: 4px;
}
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
    padding: 12px 0px;
}
._1j_gja8bHXjiS-BeSQk8hb:has(._2V2sHETNfa62yMoDwSF3_t._3s4Rq3jnntBVP7HbJj1RMQ) {
	background: #ffb84e26 !important;
    box-shadow: 0px 0px 2px 1px rgb(255 184 78 / 58%), 0px 0px 16px 1px rgb(255 184 78 / 14%) !important;
}
._2D_EJk8-jCnfqiwoKkOMVh {
	display: none;
} 
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
    box-shadow: unset;
}

/*Remove Recc Review*/
._27RcNu8aXKBpYkHcNNrt-X ._11kuVRYZvWXn-3rBJ_6yL8._3wbndu1paxHkciYr4rFJH5 {
    display: none;
}
._3LE-6w1ItIAB4CKJFCa3Od {
    display: none;
}
/*Fix Stupid Bugs*/
._2_86QNCjVvJTL3Qe6Xztx_._2sKVnd_AUg44QSdoAp8Lne {
    opacity: 0;
}
._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm {
    padding-top: unset;
}
._2_86QNCjVvJTL3Qe6Xztx_ {
    z-index: -10 !important;
}

._2gZXhRmKUk68pA28-5ZmGQ.tXlLvuTxOVL1w3aVPX4bm {
    z-index: 100;
}
.fqwOycZBL_zQfcUiVVWyz {
    z-index: 1000;
}